[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
gunicorn = "==19.7.1"
django-utils-six = "*"
whitenoise = "*"
django-heroku = "*"

[requires]
python_version = "3.6"
